$color: lightblue;
$color2: #1111a1;
$color3: #379eff7a;

@font-face {
    font-family: "WinterWind";
    src:
      url("winter_wind/Winter Wind.otf") format("opentype"),
  }
@font-face {
    font-family: "Roboto";
    src:
        url("roboto/Roboto-Regular.ttf") 
}

body {
    background-color: $color;
    color: #000;
    font-family: "Roboto";

    h1 {
        text-align: center;
        font-size: 4rem;
        padding: 3rem 3rem 0 3rem;
        font-family: "WinterWind";
        margin-bottom: 0;

        background: linear-gradient(120deg, #379eff7a 40%, #0e0e83 60%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: #379eff7a 1px 0 10px;
    }
    .uyc {
        text-align: center;
        font-size: 2rem;
        font-family: "WinterWind";
        margin-top: 0;

        background: linear-gradient(120deg, #e6f5137a 40%, #830e0e 60%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: #e6f5137a 1px 0 10px;

    }

    select {
        display:table-row;
    }
    option {
        display:table-cell;
    }

    .monSite {
        display: flex;
        justify-content: center;        

        @media screen and (max-device-width: 800px) {
            flex-direction: column;
            align-items: center;
        }

        #quoteBloc {
            width: 50%;
            border-radius: 100px;
            padding: 3rem;
            position: relative;

            @media screen and (max-device-width: 800px) {
                width: 80%; 
                border-radius: 100px;       
            }

            #quoteContent {
                font-size: 3rem;
            }
            #quoteBtn, #quoteSearch {
                margin: 0 0 1rem 1rem;
            }   
            #quote {
                @media screen and (max-device-width: 800px) {
                    padding-top: 1rem;      
                }                
            }         
            #selectionCategory {
                position: relative;
            }
            #quoteSearch {
                position: absolute;
                right: 0;
            }
            #quoteLine {
                font-size: 2rem;
            }
            #quoteAuthorDiv {
                text-align: end;
                font-size: 1.5rem;
                padding: 2rem 2rem 0 2rem;
                position: relative;            
            }
            #imageAuthor {
                visibility: hidden;
                position: absolute;
                right: 0;
                z-index: 2;                
            }
            #imageAuthor img {
                border-radius: 20px;
            }
            #quoteAuthor:hover + #imageAuthor {
                visibility: visible;
            }
            #commandLine {
                display: none;
                margin-top: 2rem;
                gap: 1rem;
                justify-content: flex-end;
            }            

            #quoteLoader {
                border: 12px solid #f3f3f3;
                border-radius: 50%;
                border-top: 12px solid #444444;
                width: 70px;
                height: 70px;
                animation: spin 1s linear infinite;
            }        
            .center {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }        
            @keyframes spin {
                100% {
                    transform: rotate(360deg);
                }
            }
            #authorCommentSpan {
                font-size: 2rem;
            }
            #emojis {
                font-size: 3rem;
                height: 4rem;
                padding-left: 40%;
                display: flex;
                align-items: center;
                @media screen and (max-device-width: 800px) {
                    font-size: 4rem;       
                }
            }
        
        }

        #emojiBloc {
            background-color: #f3f3f3;
            border-radius: 0 100px 100px 0;
            padding: 3rem;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            @media screen and (max-device-width: 800px) {
                width: 80%;
                border-radius: 0 0 100px 100px;   
            }

            #emojiList {
                font-size: 2rem;
                @media screen and (max-device-width: 800px) {
                    font-size: 4rem;       
                }
            }
            
            #precEmojiGroupBtn {
                display: none;
                margin-right: 1rem;
            }
        }
        .clickable {
            width: 3rem;
            height: 3rem;

            @media screen and (max-device-width: 800px) {
                width: 6rem;
                height: 6rem;
            }
        }
        .clickable:hover {
            background-color: rgba(128, 128, 128, .8);
            cursor: pointer;
            border-radius: 3px;
        }
        .clickableBigger{
            transition: all .35s;
        }
        .clickableBigger:hover {
            cursor: pointer;
            font-size: 4rem;
        }
    }

    input, select, button {
        border-radius: 5px;
        cursor: pointer;
        border: solid 1px $color2;
        color: $color2;
        font-size: 1rem;
        padding: .5rem 1rem;
    }  
    button {
        position: relative;
        transition: all .5s;
        z-index: 1;
    }
    button:before {
        background-color: $color2;
        border-radius: 5px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .5s;
        width: 0;
        z-index: -1;
    }
    button:hover{
        color: #fff;
    }
    button:hover:before {
        width: 100%;
    }
    @media screen and (max-device-width: 800px) {
        input, select, button {
            font-size: 2rem;
        }               
    }

    #sendEmail {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content-email, .modal-content-research {
        background-color: #fefefe;
        margin: auto;
        padding: 5rem;
        border: 1px solid #888;
        min-width: 30%;
        font-size: 2rem;
        border-radius: 5px; 
        min-height: 150px;   
        border-radius: 20px;    
    }
    .modal-content-research {
        min-height: 440px;
        #paramResearchDiv {
            margin: 0 0 1rem 3rem;            
        }
    }
    /* The Close Button */
    #closeModalSendEmail {
        color: #aaaaaa;
        float: right;
        font-weight: bold;
    }
    
    #closeModalSendEmail:hover,
    #closeModalSendEmail:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #resultResearch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        /*padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }   
    
    /* The Close Button */
    #closeModalResultResearch {
        color: #aaaaaa;
        float: right;
        font-weight: bold;
    }
    
    #closeModalResultResearch:hover,
    #closeModalResultResearch:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #statusResults div:hover {
        cursor: pointer;
        background-color: $color3;
    }

    .elementResult {
        padding-left: 3rem;
        border-radius: 5px;
    }

    a, a:visited, a:hover {
        color: $color2;
    }
}